@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

:root {
  --cyan-primary: #009ca9;
  --cyan-second: #054152;
  --light-primary: #d9d9d9;
  --light-secondary: #d9f5f5;
}

body {
  background: var(--cyan-primary);
  font-family: sans-serif;
}